# Mark HTML files as vendored (ignored in language stats)
*.html linguist-vendored

# Mark Objective-C++ files as vendored
*.mm linguist-vendored

# Mark Objective-C files as vendored
*.m linguist-vendored

# Mark Makefiles as vendored
Makefile linguist-vendored

# Mark markdown files as vendored
*.md linguist-vendored

# Mark text files as vendored
*.txt linguist-vendored

# If you have any other file types you want to ignore, add them here
